  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .left-padded {

    margin-left: 25%;
  }

  .display-box {
    text-align: center;
    padding: .5rem;
    border: 2px;
    border-style: solid;
    font-weight: 700;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: .25rem;
}

.card-body {
    background-color: rgba(0,0,0,.03);
}

.card-header {
  border-bottom: none;
  border-bottom-width: none;
  border-bottom-style: none;
  border-bottom-color: none;
}

.answer-options {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 20%;
}

.question-box {
  text-align: center;
}

#question-box-container {
margin-top: 30px;
max-width: 65%;
margin-bottom: 50px;
}

.start-button, .continue-button {
  margin:auto;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.start-button span, .continue-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-button span:after, .continue-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start-button:hover span, .continue-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after, .continue-button:hover span:after {
  opacity: 1;
  right: 0;
}

.continue-button:disabled {
  background-color: #dd9c89;

}

.continue-button:disabled span {
  content: none;
  right: 0;
  padding-right: 0;
}

.continue-button:disabled span:after {
  content: none;
  right: 0;
}

.answer-options:hover {
background-color: lightgrey;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.center-text {
  text-align: center;
  float: right;
  color: green;
}