  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .display-box {
    text-align: center;
    padding: .5rem;
    border: 2px;
    border-style: solid;
    font-weight: 700;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: .25rem;
}

.card-body {
    background-color: rgba(0,0,0,.03);
}

.card-header {
  border-bottom: none;
  border-bottom-width: none;
  border-bottom-style: none;
  border-bottom-color: none;
}

.answer-options {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 20%;
}

.question-box {
  text-align: center;
}

#question-box-container {
margin-top: 30px;
max-width: 65%;
margin-bottom: 50px;
}